In [34]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 

data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [35]:
data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [36]:
test.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
1,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
2,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
3,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
4,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10

In [37]:
drop = ['ID','medv']
X = data.drop(drop,axis=1)
y = data.medv

test = test.drop('ID',axis=1)

In [38]:
#from sklearn.model_selection import train_test_split 
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) 

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

predicted = lm.predict(test)

In [39]:
predicted

array([30.59959405, 25.10045908, 18.15899329,  9.30347646, 17.68972915,
       16.65182092, 18.51882129, 15.23793478, 12.77539026, 15.09480043,
       19.32857545, 20.7603967 ,  7.25650407, 13.675262  , 23.76968476,
       22.16124319, 23.23698123, 28.24020488,  6.95192158, 27.57212726,
       20.94591814, 23.88416113, 20.51730788, 21.71863158, 20.92650021,
       22.50487235, 26.03767504, 27.13701546, 29.18599823, 28.34345301,
       35.62031213, 35.20970596, 32.03584105, 21.36328231, 18.15874459,
       20.68968026, 20.21639887, 20.06733566, 19.80862845, 22.80952871,
       14.24251311, 20.5551442 , 20.67918759, 17.47377758, 13.27568977,
       11.76625287,  8.09536665, 15.51847406, 18.62611878, 21.6956843 ,
       20.96229314, 33.66835399, 42.31009306, 26.23920334, 21.98840175,
       24.15677069, 32.20837756, 40.51664053, 35.35519512, 33.70726511,
       29.78892509, 36.76125057, 17.13313212, 16.93836757, 22.7582338 ,
       23.42171226, 24.61986453, 28.27753006, 25.34688276, 30.6269544 ,
       34.03164695, 35.91316056, 33.32124549, 32.82912132, 28.24274688,
       28.04833267, 22.89623032, 12.23608244, 19.21588222, 25.08367276,
       23.31690787, 20.92075871, 37.29793119, 43.18489606, 36.13190081,
       34.73702031, 40.46392133, 26.35445925, 21.97380191, 34.07830089,
       36.65310807, 36.15884363, 30.39602607, 38.46115856, 26.69109246,
       26.35494131, 34.72377855, 24.11382065, 28.45490921, 28.5519964 ,
       31.39934368, 30.01270692, 32.64273107, 25.66386663, 25.44479659,
       21.17632865, 25.08173409, 23.05249878, 19.19553032, 24.02787965,
       23.95933163, 19.29496816, 22.93507672, 20.81309351, 19.18061763,
       15.87728325, 13.89090823, 20.0684476 , 19.92549671, 24.83185034,
       14.08551069, 16.53208915, 19.8688358 , 22.3177618 , 40.05409118,
       35.36830525, 27.07661707, 17.09481131, 17.89872901, 19.74471524,
       19.471968  ,  8.49518843,  6.70147935, 18.08096582, 21.33520316,
       21.22391127, 17.02479052, 10.9322236 , 18.95385034,  9.31553895,
       12.00642356,  9.19130335, 20.19073094, 17.96193105, 16.8321656 ,
        0.92727525, 12.87106   , 20.67436918, 18.96491456, 19.53463425,
       12.52530694, 16.69777303, 18.1286048 , 13.36956676, 14.93323544,
        4.1933138 , 18.33128713, 17.7204339 , 16.40325549, 15.21503719,
       12.39722125, 20.68477481, 26.56934601, 15.92847428, 29.73725306,
       23.21495735,  7.74183228, 20.75407171, 16.76329402, 13.41517932,
       21.36144598, 20.34130232, 26.67548781])