In [168]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [169]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [171]:
#Combine test and train into one file
train['source'] = 'train'
test['source'] = 'test'
data = pd.concat([train, test], ignore_index=True, sort=False)
print(train.shape, test.shape, data.shape)

(234828, 20) (100282, 19) (335110, 20)

In [172]:
data.head()

,id,seller_type,country_of_use,weblog_date,Area_address_code,car_name,car_type,Permit_registration_year,registration_month,horse_power,mileage,gas_type,car_brand,Status_of_car_repair,gear_type,date_of_advert,last_advert_online,model,naira_price,source
0,0,private,london,24/03/2016,66954,A5_Sportback_2.7_Tdi,coupé,2013,5,190,201125,diesel,audi,ja,manuell,24/03/2016,07/04/2016,NaN,6588000.0,train
1,1,private,london,14/03/2016,90480,"Jeep_Grand_Cherokee_""Overland""",NaN,2006,8,163,201125,diesel,jeep,NaN,automatik,14/03/2016,05/04/2016,grand,3528000.0,train
2,3,private,london,31/03/2016,60437,Skoda_Fabia_1.4_TDI_PD_Classic,small car,2010,7,69,144810,diesel,skoda,nein,manuell,31/03/2016,06/04/2016,fabia,1296000.0,train
3,4,private,london,04/04/2016,33775,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,limousine,1997,10,102,241350,gasoline,bmw,ja,manuell,04/04/2016,06/04/2016,3er,234000.0,train
4,5,private,london,01/04/2016,67112,Peugeot_206_CC_110_Platinum,convertible,2006,8,109,241350,gasoline,peugeot,nein,manuell,01/04/2016,05/04/2016,2_reihe,792000.0,train

In [177]:
data.isnull().any()

id                          False
seller_type                 False
country_of_use              False
weblog_date                 False
Area_address_code           False
car_name                    False
car_type                     True
Permit_registration_year    False
registration_month          False
horse_power                 False
mileage                     False
gas_type                     True
car_brand                   False
Status_of_car_repair         True
gear_type                    True
date_of_advert              False
last_advert_online          False
model                        True
naira_price                  True
source                      False
dtype: bool

In [179]:
data.car_type.value_counts()

limousine        89874
small car        68464
station wagon    63124
bus              29255
convertible      22201
coupé            17632
other             2828
Name: car_type, dtype: int64

In [185]:
data.car_type.fillna("limousine",inplace=True)

In [180]:
data.gas_type.value_counts()

gasoline                   200252
diesel                     105059
liquefied petroleum gas      5101
compressed natural gas        536
other                         128
Name: gas_type, dtype: int64

In [187]:
data.gas_type.fillna("gasoline",inplace=True)

In [181]:
data.Status_of_car_repair.value_counts()

nein    253186
ja       26594
Name: Status_of_car_repair, dtype: int64

In [189]:
data.Status_of_car_repair.fillna("nein",inplace=True)

In [183]:
data.gear_type.value_counts()

manuell      247350
automatik     74175
Name: gear_type, dtype: int64

In [190]:
data.gear_type.fillna("manuell",inplace=True)

In [184]:
data.model.value_counts()

golf                  27033
andere                23918
3er                   19250
polo                  10644
corsa                  9848
a4                     9711
passat                 9618
astra                  9422
c_klasse               8505
5er                    8235
e_klasse               7318
a3                     6408
a6                     5790
focus                  5514
transporter            5309
fiesta                 4648
2_reihe                4595
fortwo                 4254
a_klasse               4129
twingo                 3829
1er                    3793
vectra                 3489
touran                 3488
3_reihe                3127
clio                   3053
mondeo                 2982
zafira                 2969
punto                  2683
megane                 2501
ibiza                  2407
                      ...
crossfire                66
range_rover_evoque       65
gl                       63
lanos                    49
v60                      48
nubira                   45
croma                    44
lybra                    39
amarok                   38
delta                    35
terios                   35
lodgy                    35
move                     31
145                      28
b_max                    26
musa                     23
9000                     22
materia                  18
200                      17
charade                  16
kappa                    13
kalina                    9
serie_2                   8
i3                        8
rangerover                6
elefantino                6
samara                    5
serie_3                   3
discovery_sport           1
serie_1                   1
Name: model, Length: 251, dtype: int64

In [191]:
data.model.fillna("golf",inplace=True)

In [192]:
data.isnull().any()

id                          False
seller_type                 False
country_of_use              False
weblog_date                 False
Area_address_code           False
car_name                    False
car_type                    False
Permit_registration_year    False
registration_month          False
horse_power                 False
mileage                     False
gas_type                    False
car_brand                   False
Status_of_car_repair        False
gear_type                   False
date_of_advert              False
last_advert_online          False
model                       False
naira_price                  True
source                      False
dtype: bool

In [193]:
data.shape

(335110, 20)

In [194]:
#Drop the columns
data.drop(['id','seller_type','country_of_use','Area_address_code','car_name','model','weblog_date'],axis=1,inplace=True)

In [195]:
data.head()

,car_type,Permit_registration_year,registration_month,horse_power,mileage,gas_type,car_brand,Status_of_car_repair,gear_type,date_of_advert,last_advert_online,naira_price,source
0,coupé,2013,5,190,201125,diesel,audi,ja,manuell,24/03/2016,07/04/2016,6588000.0,train
1,limousine,2006,8,163,201125,diesel,jeep,nein,automatik,14/03/2016,05/04/2016,3528000.0,train
2,small car,2010,7,69,144810,diesel,skoda,nein,manuell,31/03/2016,06/04/2016,1296000.0,train
3,limousine,1997,10,102,241350,gasoline,bmw,ja,manuell,04/04/2016,06/04/2016,234000.0,train
4,convertible,2006,8,109,241350,gasoline,peugeot,nein,manuell,01/04/2016,05/04/2016,792000.0,train

In [196]:
data['car_type'].unique()

array(['coupé', 'limousine', 'small car', 'convertible', 'bus',
       'station wagon', 'other'], dtype=object)

In [197]:
data['gas_type'].unique()

array(['diesel', 'gasoline', 'liquefied petroleum gas', 'other',
       'compressed natural gas'], dtype=object)

In [198]:
data['car_brand'].unique()

array(['audi', 'jeep', 'skoda', 'bmw', 'peugeot', 'ford', 'volkswagen',
       'nissan', 'renault', 'citroen', 'fiat', 'mercedes_benz', 'opel',
       'mini', 'hyundai', 'smart', 'seat', 'subaru', 'volvo',
       'mitsubishi', 'honda', 'alfa_romeo', 'kia', 'suzuki', 'mazda',
       'chevrolet', 'sonstige_autos', 'dacia', 'daihatsu', 'toyota',
       'chrysler', 'daewoo', 'porsche', 'rover', 'innoson', 'trabant',
       'vauxhall', 'land_rover', 'saab', 'lotus'], dtype=object)

In [199]:
data['Status_of_car_repair'].unique()

array(['ja', 'nein'], dtype=object)

In [200]:
data['gear_type'].unique()

array(['manuell', 'automatik'], dtype=object)

In [201]:
data['source'].unique()

array(['train', 'test'], dtype=object)

In [202]:
from feature_engine import categorical_encoders as ce

ohe_enc = ce.OneHotCategoricalEncoder(
    top_categories=None,
    variables=["car_type", "gas_type", "Status_of_car_repair", "gear_type"],
    drop_last=False)

ohe_enc.fit(data)
data = ohe_enc.transform(data)
ohe_enc.encoder_dict_

{'car_type': array(['coupé', 'limousine', 'small car', 'convertible', 'bus',
        'station wagon', 'other'], dtype=object),
 'gas_type': array(['diesel', 'gasoline', 'liquefied petroleum gas', 'other',
        'compressed natural gas'], dtype=object),
 'Status_of_car_repair': array(['ja', 'nein'], dtype=object),
 'gear_type': array(['manuell', 'automatik'], dtype=object)}

In [203]:
#Drop the columns
data.drop(
    [
        "car_type_bus",
        "gas_type_diesel",
        "Status_of_car_repair_nein",
        "gear_type_manuell"
    ],
    axis=1,
    inplace=True)

In [204]:
data.head()

,Permit_registration_year,registration_month,horse_power,mileage,car_brand,date_of_advert,last_advert_online,naira_price,source,car_type_coupé,...,car_type_small car,car_type_convertible,car_type_station wagon,car_type_other,gas_type_gasoline,gas_type_liquefied petroleum gas,gas_type_other,gas_type_compressed natural gas,Status_of_car_repair_ja,gear_type_automatik
0,2013,5,190,201125,audi,24/03/2016,07/04/2016,6588000.0,train,1,...,0,0,0,0,0,0,0,0,1,0
1,2006,8,163,201125,jeep,14/03/2016,05/04/2016,3528000.0,train,0,...,0,0,0,0,0,0,0,0,0,1
2,2010,7,69,144810,skoda,31/03/2016,06/04/2016,1296000.0,train,0,...,1,0,0,0,0,0,0,0,0,0
3,1997,10,102,241350,bmw,04/04/2016,06/04/2016,234000.0,train,0,...,0,0,0,0,1,0,0,0,1,0
4,2006,8,109,241350,peugeot,01/04/2016,05/04/2016,792000.0,train,0,...,0,1,0,0,1,0,0,0,0,0

In [205]:
data.columns

Index(['Permit_registration_year', 'registration_month', 'horse_power',
       'mileage', 'car_brand', 'date_of_advert', 'last_advert_online',
       'naira_price', 'source', 'car_type_coupé', 'car_type_limousine',
       'car_type_small car', 'car_type_convertible', 'car_type_station wagon',
       'car_type_other', 'gas_type_gasoline',
       'gas_type_liquefied petroleum gas', 'gas_type_other',
       'gas_type_compressed natural gas', 'Status_of_car_repair_ja',
       'gear_type_automatik'],
      dtype='object')

In [206]:
#Drop the columns
data.drop(
    [
        "Permit_registration_year",
        "registration_month",
        "car_brand",
        "date_of_advert",
        "last_advert_online"
    ],
    axis=1,
    inplace=True)

In [207]:
data.head()

,horse_power,mileage,naira_price,source,car_type_coupé,car_type_limousine,car_type_small car,car_type_convertible,car_type_station wagon,car_type_other,gas_type_gasoline,gas_type_liquefied petroleum gas,gas_type_other,gas_type_compressed natural gas,Status_of_car_repair_ja,gear_type_automatik
0,190,201125,6588000.0,train,1,0,0,0,0,0,0,0,0,0,1,0
1,163,201125,3528000.0,train,0,1,0,0,0,0,0,0,0,0,0,1
2,69,144810,1296000.0,train,0,0,1,0,0,0,0,0,0,0,0,0
3,102,241350,234000.0,train,0,1,0,0,0,0,1,0,0,0,1,0
4,109,241350,792000.0,train,0,0,0,1,0,0,1,0,0,0,0,0

In [208]:
#Divide into test and train:
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

In [209]:
#Drop unnecessary columns:
labels = train.naira_price

test.drop(['naira_price','source'],axis=1,inplace=True)
train.drop(['naira_price','source'],axis=1,inplace=True)

C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [210]:
train.head()

,horse_power,mileage,car_type_coupé,car_type_limousine,car_type_small car,car_type_convertible,car_type_station wagon,car_type_other,gas_type_gasoline,gas_type_liquefied petroleum gas,gas_type_other,gas_type_compressed natural gas,Status_of_car_repair_ja,gear_type_automatik
0,190,201125,1,0,0,0,0,0,0,0,0,0,1,0
1,163,201125,0,1,0,0,0,0,0,0,0,0,0,1
2,69,144810,0,0,1,0,0,0,0,0,0,0,0,0
3,102,241350,0,1,0,0,0,0,1,0,0,0,1,0
4,109,241350,0,0,0,1,0,0,1,0,0,0,0,0

In [211]:
test.head()

,horse_power,mileage,car_type_coupé,car_type_limousine,car_type_small car,car_type_convertible,car_type_station wagon,car_type_other,gas_type_gasoline,gas_type_liquefied petroleum gas,gas_type_other,gas_type_compressed natural gas,Status_of_car_repair_ja,gear_type_automatik
234828,75,241350,0,0,1,0,0,0,1,0,0,0,0,0
234829,105,241350,0,1,0,0,0,0,1,0,0,0,0,0
234830,131,241350,0,0,0,0,1,0,1,0,0,0,0,0
234831,102,241350,0,0,0,0,0,0,1,0,0,0,0,0
234832,90,241350,0,1,0,0,0,0,1,0,0,0,0,0

In [212]:
from sklearn import preprocessing

# Get column names first
names = train.columns

# Create the Scaler object
norm = preprocessing.Normalizer()

# Fit your data on the scaler object
train = norm.fit_transform(train)
train = pd.DataFrame(train, columns=names)

test = norm.fit_transform(test)
test = pd.DataFrame(test, columns=names)

In [213]:
test.head()

,horse_power,mileage,car_type_coupé,car_type_limousine,car_type_small car,car_type_convertible,car_type_station wagon,car_type_other,gas_type_gasoline,gas_type_liquefied petroleum gas,gas_type_other,gas_type_compressed natural gas,Status_of_car_repair_ja,gear_type_automatik
0,0.000311,1.0,0.0,0.000000,0.000004,0.0,0.000000,0.0,0.000004,0.0,0.0,0.0,0.0,0.0
1,0.000435,1.0,0.0,0.000004,0.000000,0.0,0.000000,0.0,0.000004,0.0,0.0,0.0,0.0,0.0
2,0.000543,1.0,0.0,0.000000,0.000000,0.0,0.000004,0.0,0.000004,0.0,0.0,0.0,0.0,0.0
3,0.000423,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000004,0.0,0.0,0.0,0.0,0.0
4,0.000373,1.0,0.0,0.000004,0.000000,0.0,0.000000,0.0,0.000004,0.0,0.0,0.0,0.0,0.0

In [223]:
import xgboost as xgb
from sklearn.model_selection import cross_val_score
from xgboost import plot_tree
from xgboost import plot_importance
from sklearn.metrics import mean_squared_error

In [224]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train, labels, test_size = 0.3, random_state = 0)  
X_train.shape, X_test.shape

((164379, 14), (70449, 14))

In [225]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.5, learning_rate = 0.1,
                          max_depth = 5, alpha = 5, n_estimators = 15)

In [226]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[14:42:26] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [227]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 2294300.438103

In [228]:
xgpred = xg_reg.predict(test)

xg_reg = pd.DataFrame({'Id':test_to_submit['id'],'Predicted': xgpred},
                                 columns=['Id','Predicted'])

#to csv
xg_reg.to_csv('xgpred1.csv',index=False)

In [234]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

lin_reg.fit(X_train,y_train)

preds = lin_reg.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 2849577.262037

In [244]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(random_state=42, n_jobs =-1, max_depth = 30 )
forest_reg.fit(X_train,y_train)

forest_reg.fit(X_train,y_train)

preds = forest_reg.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RMSE: 1968987.020571

In [229]:
from sklearn.model_selection import cross_val_score

def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [239]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

scores = cross_val_score(lin_reg, X_train,y_train,
                         scoring="neg_mean_squared_error", cv=4)
lin_rmse_scores = np.sqrt(-scores)

display_scores(lin_rmse_scores)

Scores: [2782847.64234331 2802065.48732283 2805410.37141739 2677406.15658601]
Mean: 2766932.414417384
Standard deviation: 52400.217814190866

In [240]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(random_state=42, n_jobs =-1, max_depth = 30 )


scores = cross_val_score(forest_reg, X_train,y_train,
                         scoring="neg_mean_squared_error", cv=4)
forest_rmse_scores = np.sqrt(-scores)

display_scores(forest_rmse_scores)

C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\mo.yosiwealth\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Scores: [1866291.2368798  1841559.96764452 1960356.68479067 1738033.84590025]
Mean: 1851560.4338038107
Standard deviation: 79123.18919331931

In [245]:
feature_importances = forest_reg.feature_importances_
feature_importances

array([6.44877838e-01, 5.95808254e-02, 4.03495460e-02, 1.81174259e-02,
       6.24885052e-03, 2.74471618e-02, 1.01130159e-02, 2.14826999e-03,
       8.68780267e-02, 5.78508335e-03, 1.96490916e-04, 1.82812345e-04,
       1.20059140e-02, 8.60687395e-02])

In [249]:
forest_reg.score(X_test, y_test)

0.6055635259887268