In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
#Combine test and train into one file
train['source'] = 'train'
test['source'] = 'test'
data = pd.concat([train, test], ignore_index=True, sort=False)
print(train.shape, test.shape, data.shape)

(234828, 20) (100282, 19) (335110, 20)

In [4]:
data.head()

,id,seller_type,country_of_use,weblog_date,Area_address_code,car_name,car_type,Permit_registration_year,registration_month,horse_power,mileage,gas_type,car_brand,Status_of_car_repair,gear_type,date_of_advert,last_advert_online,model,naira_price,source
0,0,private,london,24/03/2016,66954,A5_Sportback_2.7_Tdi,coupé,2013,5,190,201125,diesel,audi,ja,manuell,24/03/2016,07/04/2016,NaN,6588000.0,train
1,1,private,london,14/03/2016,90480,"Jeep_Grand_Cherokee_""Overland""",NaN,2006,8,163,201125,diesel,jeep,NaN,automatik,14/03/2016,05/04/2016,grand,3528000.0,train
2,3,private,london,31/03/2016,60437,Skoda_Fabia_1.4_TDI_PD_Classic,small car,2010,7,69,144810,diesel,skoda,nein,manuell,31/03/2016,06/04/2016,fabia,1296000.0,train
3,4,private,london,04/04/2016,33775,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,limousine,1997,10,102,241350,gasoline,bmw,ja,manuell,04/04/2016,06/04/2016,3er,234000.0,train
4,5,private,london,01/04/2016,67112,Peugeot_206_CC_110_Platinum,convertible,2006,8,109,241350,gasoline,peugeot,nein,manuell,01/04/2016,05/04/2016,2_reihe,792000.0,train

In [6]:
data.isnull().sum()

id                               0
seller_type                      0
country_of_use                   0
weblog_date                      0
Area_address_code                0
car_name                         0
car_type                     41732
Permit_registration_year         0
registration_month               0
horse_power                      0
mileage                          0
gas_type                     24034
car_brand                        0
Status_of_car_repair         55330
gear_type                    13585
date_of_advert                   0
last_advert_online               0
model                        15332
naira_price                 100282
source                           0
dtype: int64

In [8]:
data.describe()

,id,Area_address_code,Permit_registration_year,registration_month,horse_power,mileage,naira_price
count,335110.000000,335110.000000,335110.000000,335110.000000,335110.000000,335110.000000,2.348280e+05
mean,167555.117284,51269.714237,2005.733141,5.924974,120.694247,201503.567053,2.261830e+06
std,96738.477880,25714.879704,7.272524,3.631073,190.797579,63736.978220,3.076636e+06
min,0.000000,1067.000000,1947.000000,0.000000,0.000000,8045.000000,1.800000e+05
25%,83777.250000,30952.000000,2002.000000,3.000000,75.000000,160900.000000,5.400000e+05
50%,167555.500000,50226.000000,2006.000000,6.000000,110.000000,241350.000000,1.260000e+06
75%,251332.750000,72124.000000,2010.000000,9.000000,150.000000,241350.000000,2.844000e+06
max,335110.000000,99998.000000,2018.000000,12.000000,20000.000000,241350.000000,8.820000e+07

In [9]:
data.columns

Index(['id', 'seller_type', 'country_of_use', 'weblog_date',
       'Area_address_code', 'car_name', 'car_type', 'Permit_registration_year',
       'registration_month', 'horse_power', 'mileage', 'gas_type', 'car_brand',
       'Status_of_car_repair', 'gear_type', 'date_of_advert',
       'last_advert_online', 'model', 'naira_price', 'source'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335110 entries, 0 to 335109
Data columns (total 20 columns):
id                          335110 non-null int64
seller_type                 335110 non-null object
country_of_use              335110 non-null object
weblog_date                 335110 non-null object
Area_address_code           335110 non-null int64
car_name                    335110 non-null object
car_type                    293378 non-null object
Permit_registration_year    335110 non-null int64
registration_month          335110 non-null int64
horse_power                 335110 non-null int64
mileage                     335110 non-null int64
gas_type                    311076 non-null object
car_brand                   335110 non-null object
Status_of_car_repair        279780 non-null object
gear_type                   321525 non-null object
date_of_advert              335110 non-null object
last_advert_online          335110 non-null object
model                       319778 non-null object
naira_price                 234828 non-null float64
source                      335110 non-null object
dtypes: float64(1), int64(6), object(13)
memory usage: 51.1+ MB

In [13]:
cat_val = ["seller_type", "gear_type", "gas_type", "Status_of_car_repair", "car_type", "source"]

for col in cat_val:
    print([col], " : ", data[col].unique())

['seller_type']  :  ['private']
['gear_type']  :  ['manuell' 'automatik' nan]
['gas_type']  :  ['diesel' 'gasoline' nan 'liquefied petroleum gas' 'other'
 'compressed natural gas']
['Status_of_car_repair']  :  ['ja' nan 'nein']
['car_type']  :  ['coupé' nan 'small car' 'limousine' 'convertible' 'bus' 'station wagon'
 'other']
['source']  :  ['train' 'test']